*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: url('../img/subtle_dots.png');	
	font-family: sans-serif;
	width:100%;
	/*height: 100%;*/
	/*position: absolute;*/
	/*min-width: 620px;*/
	/*min-width: 620px;*/
	overflow-x: hidden;
}

.wrapper{
	width: 100%;
	/*height: 100%;*/
  	min-width: 620px;
}

header{
	width: 100%;
	height: 77px;
	/*height: 8%;*/
	/*background: #0F3EA1;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f3ea1+0,1664e2+53;Blue+Flat+%232 */
	background: #0f3ea1; /* Old browsers */
	background: -moz-linear-gradient(top,  #0f3ea1 0%, #1664e2 53%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0f3ea1 0%,#1664e2 53%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0f3ea1 0%,#1664e2 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f3ea1', endColorstr='#1664e2',GradientType=0 ); /* IE6-9 */
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header{
	/*border: 1px solid black;*/
	max-width: 1100px;
	height: 100%;
	margin: auto;				
	box-sizing: border-box;
	min-width: 620px;
}

footer{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b83636+0,ea4e19+77 */
	background: #b83636; /* Old browsers */
	background: -moz-linear-gradient(top,  #b83636 0%, #ea4e19 77%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #b83636 0%,#ea4e19 77%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #b83636 0%,#ea4e19 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b83636', endColorstr='#ea4e19',GradientType=0 ); /* IE6-9 */
	box-sizing: border-box;
	
}

.footerLanding{
	margin-top: 15%;
	padding: 3% 0;
	box-sizing: border-box;
	height: 571px;
	margin-bottom: 0;
}

.footerNoLanding{
	position:fixed;	
	width: 100%; 
	height: 30px;
	/*height: 30px; */
	bottom: 0;
}

.lblFooterNoLanding{
	width: 100%;
	color:white;
	text-align: center;
	font-size: 14px;
	margin-top: 7px;
}

.mainLanding{
	height: auto;
}

.mainNoLanding{
	position: fixed; 
	left: 0;
	right: 0;
	top: 0;
	bottom: 30px;
	
	overflow-y: auto;
}

.logueado{
	margin-top: 110px;
	
}

.noLogueado{
	margin-top: 77px;
	/*height: 88.7%;*/
}


textarea{
	resize:vertical;
}

.imgVolqueta{
	width: 300px;
	height: 225px;
}


@media (max-width: 1110px){
	.header{
		max-width: 960px;
	}
}

@media (max-width: 970px){

	.logueado{
		margin-top: 77px;
	}

	.footerNoLanding{
		display: none;
	}

	.mainNoLanding{
		bottom: 0;
	}

	.footerLanding{
		height: 700px;
	}

	.header{
		max-width: 800px;
	}
}

@media (max-width: 810px){

	.logueado{
		margin-top: 77px;
	}

	.footerNoLanding{
		display: none;
	}

	.mainNoLanding{
		bottom: 0;
	}

	.footerLanding{
		height: 700px;
	}

	.header{
		max-width: 700px;
	}
}

@media (max-width: 730px){

	.logueado{
		margin-top: 77px;
	}

	.footerNoLanding{
		display: none;
	}

	.mainNoLanding{
		bottom: 0;
	}

	.footerLanding{
		height: 700px;
	}

	.header{
		max-width: 590px;
	}

	.mainNoLanding{
		position: none; 
		margin-top: 77px;
		
		overflow-y: auto;
	}
}

