/*body{
	position: absolute;
	width: 100%;
	height: 100%;
}*/
/*footer{
	bottom:0;
	position: fixed;
	width: 100%;
	text-align: center;
}*/
.wrapper{
	width: 100%;
	height: 100%;
}
.solo-login{
	width: 20%;
}


*{
	padding: 0;
	margin: 0;
}
body{
	background: url('../img/subtle_dots.png');	
	font-family: sans-serif;
}
header{
	width: 100%;
	height: 77px;
	/*background: #0F3EA1;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f3ea1+0,1664e2+53;Blue+Flat+%232 */
	background: #0f3ea1; /* Old browsers */
	background: -moz-linear-gradient(top,  #0f3ea1 0%, #1664e2 53%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0f3ea1 0%,#1664e2 53%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0f3ea1 0%,#1664e2 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f3ea1', endColorstr='#1664e2',GradientType=0 ); /* IE6-9 */
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
.header{
	/*border: 1px solid black;*/
	max-width: 1100px;
	height: 100%;
	margin: auto;				
	box-sizing: border-box;
}
.divLogo{
	display: block;
	float: left;
	width: 12.1%;
	margin-top: 7px;
}
.imgLogo{
	width: 100%;
	cursor: pointer;
}

.imgLogo:hover{
	content: url('../img/LogoPaysandúLimpia6.png');	
}
/*#espacio{
	height: 77px;
}*/
.menu{
	display: block;
	float: right;

	width: 65.3%;
}
.ulMenu{
	list-style: none;
}
.ulMenu > li{
	float: left;
	/*border: 1px solid white;*/
	margin-top: 2%;
	font-family: sans-serif;
	width: 25%;
}
.ulMenu li a{
	color: white;
	text-decoration: none;
	display: block;
	padding:17px 17px;
	font-size: 20px;
	text-align: right;
	cursor: pointer;			
}
.ulMenu li a:hover{
	color: #89ACF7;
	cursor: pointer;			
}

/*#carousel{
	margin-top: 77px;
}*/
.divMain{
	max-width: 1100px;
	margin: auto;
}
.mainTexto{
	width: 100%;
	text-align: center;
	margin-top: 100px;
	font-size: 30px;
	font-weight: bold;
	color: #0F3EA1;
}
.segundoTexto{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	font-size: 28px;
	font-weight: bold;
	color: #B83636;
}
.divPasos{
	width: 75%;
	margin: auto;
}
.divP{
	margin-top: 10%;
}
.divOtras{
	margin-top: 20%;
}
.imgPaso1{
	width: 25%;
	float: left;
	margin-right: 7%;
}
.imgPaso2{
	width: 25%;
	float: right;
	margin-left: 7%;
	margin-top: 20px;
}
.imgPaso3{
	width: 25%;
	float: left;
	margin-right: 7%;
}
.imgPaso4{
	width: 30%;
	float: right;
	margin-left: 7%;
}
.imgPaso5{
	width: 25%;
	float: left;
	margin-right: 7%;
}
.imgPaso1 img{
	width: 100%;
}
.imgPaso2 img{
	width: 100%;
}
.imgPaso3 img{
	width: 100%;
}
.imgPaso4 img{
	width: 100%;
}
.imgPaso5 img{
	width: 100%;
}
.titulo{
	font-size: 28px;
	font-weight: bold;
	margin-top: 5%;
}
.textoPaso{
	font-size: 22px;
	width: 67%;
	/*border: 1px solid black;*/
	float: left;
}
.textoPaso4{
	font-size: 22px;
	width: 62%;
	/*border: 1px solid black;*/
	float: left;
}
footer{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b83636+0,ea4e19+77 */
	background: #b83636; /* Old browsers */
	background: -moz-linear-gradient(top,  #b83636 0%, #ea4e19 77%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #b83636 0%,#ea4e19 77%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #b83636 0%,#ea4e19 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b83636', endColorstr='#ea4e19',GradientType=0 ); /* IE6-9 */
	box-sizing: border-box;
	
}

.footerLanding{
	margin-top: 15%;
	padding: 3% 0;
	box-sizing: border-box;
	/*height: 5%;*/
	height: 571px;
	/*border: 1px solid black;*/
}

.divContacto{
	/*border: 1px solid black;*/
	width: 40%;
	margin-left: 60%;
}
.campoFooter{
	margin-bottom: 15px;
}
.tituloContacto{
	font-size: 20px;
	text-align: center;
	/*border: 1px solid black;*/
	width: 100%;
	color: white;
	margin-bottom: 30px;
}
.contenedor{
	max-width: 1100px;
	margin:auto;
}
.enviarCorreo{
	width: 100%;
	margin-top: 25px;
}
.divInformacion{
	border-right: 1px solid white;
	width: 50%;
	height: 441px;
	float: left;
}
.paysanduLimpia{
	color: white;
	text-align: center;
	width: 100%;
	font-size: 20px;
	margin-top: 15%;
}
.sistemaPara{
	color: white;
	text-align: center;
	width: 100%;
	font-size: 17px;
	margin-top: 15px;
	font-weight: none;
}
.anio{
	color: white;
	text-align: center;
	width: 100%;
	font-size: 17px;
	margin-top: 15px;
}

/*.loginForm{
	border: 1px solid black;
	width: 150%;
}*/

#ci{
	margin-right: 10px;
}

#contrasenia{
	margin-right: 20px;
}

#lblRecordarme{
	color: white;
	font-size: 14px;
	font-weight: normal;
}

#lblRecordarme{
	margin-right: 20px;
}

#spanAtras{
	margin-right: 4%;
	cursor: pointer;
	color: white;
}

#spanAtras:hover{
	color: #89ACF7;
}

.loginForm{
	position: absolute;
	/*border: 1px solid black;*/
	width: 37%;
	top: 35%;
	display: none;
	/*left: 0;*/
}

#btnSubmitLogin{
	font-weight: bold;
}

.secondHeader{
	width: 100%;
	height: 33px;
	background: #3F87FB;
}

.ulMenuHorizontal{
	max-width: 1100px;
	margin: auto;
	list-style: none;
}

.opcionSubmenu{
	float: left;
	width: 20%;
	box-sizing: border-box;
	padding-top: 5px;
}

.opcionSubmenu a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 0 12px;
	text-align: center;
	box-sizing: border-box;
	font-size: 14.7px;
}

.opcionSubmenu a:hover{
	color: #0f3ea1;
	text-decoration: none;
	cursor: pointer;
}

.divPerfil{
	margin-left: 7%;
	width: 41%;
	/*border: 1px solid black;*/
	float: left;
	margin-top: 2.1%;
}

.divFotoPerfil{
	float: left;
	/*border: 1px solid black;*/
	width: 18.5%;
	float: right;
	margin-right: 15px;
}

.fotoPerfil{
	width: 100%;
	border-radius: 50%;
	
}

.nombreLogueado{
	float: left;
	/*width: 50%;*/
	/*border: 1px solid black;*/
	margin-top: 5%;
	color: white;
	font-size: 20px;
	float: right;
}

.submenuIncidencias{
	list-style: none;
	position: absolute;	
	margin-top: 8px;
	display: none;
}

.submenuIncidencias > li{
	position: relative;
	width: 100%;
	padding: 5px 10px;
	background: #72A7FC;
	border-bottom: 1px solid white;

}

.submenuUsuarios{
	list-style: none;
	position: absolute;	
	margin-top: 8px;
	display: none;
}

.submenuUsuarios > li{
	position: relative;
	width: 135%;
	padding: 5px 10px;
	background: #72A7FC;
	border-bottom: 1px solid white;

}

.iconoDesplegar{
	font-size: 12px;
	position: relative;
	top: -2px;
}

#map{
	width: 100%;
	height: 100%;
}

.lblFooterNoLanding{
	width: 100%;
	color:white;
	text-align: center;
	font-size: 14px;
	margin-top: 7px;
}

.referencias{
	width: 17%;
	height: 65%;
	position: absolute;
	background: rgba(255, 255, 255, .85);
	border-radius: 15px;
	margin-left: 73%;
	margin-top: 3%;
}

.greenMarker{
	width: 15%;
	margin-left: 42%;
	margin-top: 12%;
}

.lblGreenMarker{
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;

}

#lblCantidadGreen{
	font-weight: normal;
	display: block;
	text-align: center;
}

.orangeMarker{
	width: 15%;
	margin-left: 42%;
	margin-top: 20%;
}

.lblOrangeMarker{
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;

}

#lblCantidadOrange{
	font-weight: normal;
	display: block;
	text-align: center;
}

.redMarker{
	width: 15%;
	margin-left: 42%;
	margin-top: 22%;
}

.lblRedMarker{
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;

}

#lblCantidadRed{
	font-weight: normal;
	display: block;
	text-align: center;
}



.contenedor{
	max-width: 1100px;
	/*border: 1px solid black;*/
	margin: auto;
	padding: 50px 0;
}

.pasoIncidencia{
	font-weight: bold;
	font-size: 24px;
	text-align: center;

}

#mapNuevaIncidencia{
	width: 100%;
	height: 550px;
	/*border: 1px solid black;*/
	margin-top: 5%;
}

#ubiacionIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	width: 20%;
	float: left;
}

#ubiacionIncidencia label{
	font-size: 14px;
}
#direccionIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	margin-left: 5%;
	width: 50%;
	float: left;
}

#direccionIncidencia label{
	font-size: 14px;
}

#numeroIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	margin-left: 5%;
	width: 20%;
	float: left;
}

#numeroIncidencia label{
	font-size: 14px;
}

.lblCheckbox{
	margin-top: 24px;
	font-size: 14px;
}

#severidadIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	/*margin-left: 5%;*/
	width: 30%;
	float: left;
}

#severidadIncidencia label{
	font-size: 14px;
}

#categoriaIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	margin-left: 5%;
	width: 65%;
	float: left;
}

#categoriaIncidencia label{
	font-size: 14px;
}

.lblResumenDescripcion{
	margin-top: 35px;
	font-size: 14px;
}

#descripcion{
	min-height: 175px;
}

textarea{
	resize:vertical;
}
#fileImagen{
	display: none;
}

.btn-file{
	font-weight: bold;
	width: 15%;
	margin-top: 35px;
}

#lblBuscar{
	margin-left: 33%;
	margin-right: 37px;
}

.galeria{
	margin-top: 35px;
	width: 100%;
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.galeria_item{
	width: 22%;
	margin: 20px 16.5px;
}

.galeria_img{
	width: 100%;
	height: 200px;
	cursor: pointer;
}

.fondoNegro{
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	display: none;
	overflow-y: auto;
}

#btnCerrar{
	font-size: 58px;
	color: white;
	cursor: pointer;
	position: absolute;
	left: 81%;
	top: 3%;
}

#btnCerrar:hover{
	color: #b83636;
}

#submitIncidencia{
	font-weight: bold;
	width: 30%;
	margin: auto;
	display: block;
}

#dangerNuevaIncidencia{
	display: none;
}

.galeria_img{
	border-radius: 10.5px;
}

#imgModal{
	border-radius: 15px;
}

#spinnerEnviar{
	width: 100%;
	text-align: center;
	/*border: 1px solid black;*/
	font-size: 38px;
	color: white;
	margin-top: 25px;
	display: none;
}

.linkFacebook{
	color: white;
	font-size: 32px;
	/*border: 1px solid white;*/
	width: 42px;
	height: 42px;
	float: right;
	text-align: center;
	margin-top: 2%;
	cursor: pointer;

}

.linkFacebook:hover{
	color: #89ACF7;
}

.wrapper{
	width: 100%;
	height: 100%;
}
.midPage{
	margin: auto;
	top:50%;
	padding: 15px;
	width: 25%;
	background-color: #f9f9f9;
	border-radius: 9px;
}

.has-feedback .form-control-feedback {
    position: absolute;
    top: 3px;
    right: 12px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
}