.solo-login{
	width: 20%;
}

.divLogo{
	display: block;
	float: left;
	width: 12.1%;
	margin-top: 7px;
}
.imgLogo{
	width: 100%;
	cursor: pointer;
}

.imgLogo:hover{
	content: url('../img/LogoPaysandúLimpia6.png');	
}
/*#espacio{
	height: 77px;
}*/
.menu{
	display: block;
	float: right;

	width: 65.3%;
}
.ulMenu{
	list-style: none;
}
.ulMenu > li{
	float: left;
	/*border: 1px solid white;*/
	margin-top: 2%;
	font-family: sans-serif;
	width: 25%;
}
.ulMenu li a{
	color: white;
	text-decoration: none;
	display: block;
	padding:17px 17px;
	font-size: 20px;
	text-align: right;
	cursor: pointer;			
}
.ulMenu li a:hover{
	color: #89ACF7;
	cursor: pointer;			
}

#ci{
	margin-right: 10px;
}

#contrasenia{
	margin-right: 20px;
}

#lblRecordarme{
	color: white;
	font-size: 14px;
	font-weight: normal;
}

#lblRecordarme{
	margin-right: 20px;
}

#spanAtras{
	margin-right: 4%;
	cursor: pointer;
	color: white;
}

#spanAtras:hover{
	color: #89ACF7;
}

.loginForm{
	position: absolute;
	/*border: 1px solid black;*/
	width: 37%;
	top: 35%;
	display: none;
	/*left: 0;*/
}

#btnSubmitLogin{
	font-weight: bold;
}

.secondHeader{
	width: 100%;
	height: 33px;
	background: #3F87FB;
}

.ulMenuHorizontal{
	max-width: 1100px;
	margin: auto;
	list-style: none;
}

.opcionSubmenu{
	float: left;
	width: 20%;
	box-sizing: border-box;
	padding-top: 5px;
}

.opcionSubmenu a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 0 12px;
	text-align: center;
	box-sizing: border-box;
	font-size: 14.7px;
	height: 28px;
	/*border: 1px solid black;*/
}

.opcionSubmenu a:hover{
	color: #0f3ea1;
	text-decoration: none;
	cursor: pointer;
}

.divPerfil{
	margin-left: 7%;
	width: 41%;
	/*border: 1px solid black;*/
	float: left;
	margin-top: 2.1%;
	cursor: pointer;
}

.divPerfil:hover > .nombreLogueado{
	color: #89ACF7;
}

.divFotoPerfil{
	float: left;
	/*border: 1px solid black;*/
	width: 55px;
	height: 55px;
	float: right;
	margin-right: 15px;
}

.fotoPerfil{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	
}

.nombreLogueado{
	float: left;
	/*width: 50%;*/
	/*border: 1px solid black;*/
	margin-top: 5%;
	color: white;
	font-size: 20px;
	float: right;
}

.divPerfil2{
	/*margin-right: 34%;*/
	width: 70.5%;
	/*border: 1px solid black;*/
	float: left;
	margin-top: 12.5px;
	cursor: pointer;
	display: none;

}

.divPerfil2:hover > .nombreLogueado2{
	color: #89ACF7;
}

.divFotoPerfil2{
	float: left;
	/*border: 1px solid black;*/
	width: 43px;
	height: 43px;
	float: right;
	margin-right: 15px;
	margin-top: 1.5%;
}

.fotoPerfil2{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	
}

.nombreLogueado2{
	float: left;
	/*width: 50%;*/
	/*border: 1px solid black;*/
	margin-top: 14px;
	color: white;
	font-size: 20px;
	float: right;
}

.submenuIncidencias{
	list-style: none;
	position: absolute;	
	margin-top: 0;
	display: none;
	width: 11%;
	min-width: 220px;
}

.submenuIncidencias > li{
	position: relative;
	width: 100%;
	padding: 5px 10px;
	background: #72A7FC;
	border-bottom: 1px solid white;

}

/*.opcionSubmenuIncidencias a{
	height: auto;
	border: 1px solid black;
}*/

.submenuUsuarios{
	list-style: none;
	position: absolute;	
	margin-top: 0;
	display: none;
	width: 8.37%;
	min-width: 220px;

}

.submenuUsuarios > li{
	position: relative;
	width: 100%;
	padding: 5px 10px;
	background: #72A7FC;
	border-bottom: 1px solid white;

}

.iconoDesplegar{
	font-size: 12px;
	position: relative;
	top: -2px;
}

.facebook{
	color: white;
	font-size: 32px;
	/*border: 1px solid white;*/
	width: 42px;
	height: 42px;
	float: right;
	text-align: center;
	margin-top: 2%;
	cursor: pointer;

}

.facebook:hover{
	color: #89ACF7;
}

.fa-facebook{
	font-size: 18px;
}

.fa-bell{	
	color: white;
	font-size: 24px;
	cursor: pointer;
}

.notificaciones{
	/*border: 1px solid black;*/
	display: inline-block;
	margin-top: 31px;
	margin-left: 2%;
	width: 300px;
	position: fixed;
	text-align: center;
	z-index: 10001;
	cursor: pointer;

}

.notificaciones:hover > .fa-bell{
	color: #89ACF7;
	cursor: pointer;
}

.pendientes{
	background: red;
	font-size: 14px;
	padding: 3px 7px;
	border-radius: 7px;
	position: relative;
	left: -15px;
	color: white;
}

.pendientesVertical{
	background: red;
	font-size: 17px;
	/*font-weight: bold;*/
	padding: 3px 7px;
	border-radius: 7px;
	position: absolute;
	right: 25px;
	top: 84px;
	color: white;
}

.lstNotificaciones {
	clear: both;
	list-style: none;
	width: 300px;
	padding: 0;
	margin: 4px 0 0 0;
	max-height: 405.5px;
	overflow-y: auto;
	overflow-x: hidden;
	/*position: fixed;*/
	left: 31%;
	/*left: calc(100% - 1000px);*/
	top: 73px;
	display: none;
	margin-top: 20.1px;
}

.lstNotificaciones::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.lstNotificaciones::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.lstNotificaciones::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #A6A6A6;
}

.lstNotificaciones li {
	width: 100%;
	height: auto;
	border-bottom: solid 1px #666;	
	padding: 17px 10px;
	cursor: pointer;

}

.lstNotificaciones li:hover{
	background: #d3d3d3;
}

.noVista{
	background: #F2F2F2;
}

.vista{
	background: white;
}

.lstNotificaciones li:last-child {
	border-bottom: none;
}

.subtexto {
	display: block;
	font-size: 12px;
	color: #999;
	margin-top: 20px;
	width: 100%;
	text-align: left;

	/*border: 1px solid black;*/
}

.bars{
	display: none;
}

.ulMenuVertical{
	position: fixed;
	left: -100%;
	width: 515px;
	top:77px;
	bottom: 0;
	background: #3F87FB; 
	overflow-y: auto;
	z-index: 100000;
	/*display: none;*/

}

.ulMenuVertical > ul{	
	list-style: none;
}

.opcionSubmenuVertical{
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.opcionSubmenuVertical:hover{
	background: #2570E7;
	cursor: pointer;
}

.opcionSubmenuVertical a{
	color: white;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	font-size: 20px;
	width: 100%;
	height: 100%;	
	padding: 19px 25px;
}

.submenuIncidenciasVertical{
	list-style: none;
	display: none;
}

.opcionSubmenuIncidenciasVertical{
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	background: #72A7FC;
}

.opcionSubmenuIncidenciasVertical:hover{
	background: #2570E7;
	cursor: pointer;
}

.opcionSubmenuIncidenciasVertical a{
	color: white;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	font-size: 20px;
	width: 100%;
	height: 100%;	
	padding: 19px 25px;
}

.submenuUsuariosVertical{
	list-style: none;
	display: none;
}

.opcionSubmenuUsuariosVertical{
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	background: #72A7FC;
}

.opcionSubmenuUsuariosVertical:hover{
	background: #2570E7;
	cursor: pointer;
}

.opcionSubmenuUsuariosVertical a{
	color: white;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	font-size: 20px;
	width: 100%;
	height: 100%;	
	padding: 19px 25px;
}

.ulMenuVertical::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ulMenuVertical::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.ulMenuVertical::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.3);
	background-color: #A6A6A6;
}

#iconoDesplegarIncidenciasVertical{
	position: relative;	
	float: right;
	font-size: 20px;
}

#iconoDesplegarUsuariosVertical{
	position: relative;	
	float: right;
	font-size: 20px;
}

.fa-circle{
	position: relative;	
	float: right;
	font-size: 17px;
	margin-right: 30px;
	margin-top: -42.5px;

	color: white;
}

.contenedorNegro{
	background: rgba(0, 0, 0, .9);
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100000000;
	display: none;
}

.listaNotificaciones{
	/*border: 2px solid white;*/
	width: 400px; 
	max-height: 59%;
	margin: 0 auto;
	margin-top: 100px;
	overflow-y: auto;
}

.listaNotificaciones::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.listaNotificaciones::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.listaNotificaciones::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.3);
	background-color: #A6A6A6;
}

.lstNotificaciones2{
	clear: both;
	list-style: none;
	width: 100%;
	max-height: 405.5px;
	/*position: fixed;*/
	/*display: none;*/
	/*margin-top: 20.1px;*/
}

.lstNotificaciones2 li {
	width: 100%;
	height: auto;
	border-bottom: solid 1px #666;	
	padding: 17px 10px;
	cursor: pointer;

}

.lstNotificaciones2 li:hover{
	background: #d3d3d3;
}

.lstNotificaciones2 li:last-child{
	border-bottom: 0px solid black;
}

.btnCerrar{
	color: white; 
	position: fixed; 
	top: 32px; 
	right: 35px; 
	font-size: 54px;
}

.btnCerrar:hover{
	cursor: pointer;
	color: #b83636;;
}

@media (max-width: 1110px) and (min-width: 970px){
	.divLogo{
		width: 15%;
		margin-top: 7px;
	}

	.menu{
		display: block;
		float: right;

		width: 75%;
	}

	.ulMenuHorizontal{
		max-width: 960px;
	}

	.notificaciones{
		/*border: 1px solid black;*/
		display: inline-block;
		margin-top: 31px;
		margin-left: -5%;
		width: 300px;
		position: fixed;
		text-align: center;

	}

	.submenuIncidencias{
		min-width: 192px;
	}

	.submenuUsuarios{
		min-width: 192px;
	}

	.bars{
		display: none;
	}
}

@media (min-width: 810px) and (max-width: 970px){

	.secondHeader{
		display: none;
	}

	.menu{
		display: none;
	}

	.notificaciones{
		display: none;
	}

	.divLogo{
		width: 17%;
		margin-top: 7px;

	}

	.bars{
		display: block;
		color: white;
		font-size: 39px;
		/*border:1px solid black;*/
		width: 39px;
		margin-right: 0;
		float: right;
		margin-top: 12px;
		cursor: pointer
	}

	.bars:hover{
		color: #89ACF7;
	}

	.divPerfil2{
		display: block;
	}
}

@media (min-width: 730px) and (max-width: 810px){

	.secondHeader{
		display: none;
	}

	.menu{
		display: none;
	}

	.notificaciones{
		display: none;
	}

	.divLogo{
		width: 20%;
		margin-top: 7px;

	}

	.bars{
		display: block;
		color: white;
		font-size: 39px;
		/*border:1px solid black;*/
		width: 39px;
		margin-right: 0;
		float: right;
		margin-top: 12px;
		cursor: pointer
	}

	.bars:hover{
		color: #89ACF7;
	}

	.divPerfil2{
		display: block;
	}
}

@media (min-width: 620px) and (max-width: 730px){

	.secondHeader{
		display: none;
	}

	.menu{
		display: none;
	}

	.notificaciones{
		display: none;
	}

	.divLogo{
		width: 21%;
		margin-top: 10px;

	}

	.bars{
		display: block;
		color: white;
		font-size: 39px;
		/*border:1px solid black;*/
		width: 39px;
		margin-right: 0;
		float: right;
		margin-top: 12px;
		cursor: pointer
	}

	.bars:hover{
		color: #89ACF7;
	}

	.divPerfil2{
		display: block;
	}
}



