#map{
	width: 100%;
	height: 100%;
}

.referencias{
	width: 17%;
	height: 65%;
	position: absolute;
	background: rgba(255, 255, 255, .85);
	border-radius: 15px;
	left: 73%;
	top: 21%;
}

.greenMarker{
	width: 15%;
	margin-left: 42%;
	margin-top: 12%;
}

.lblGreenMarker{
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;

}

#lblCantidadGreen{
	font-weight: normal;
	display: block;
	text-align: center;
}

.orangeMarker{
	width: 15%;
	margin-left: 42%;
	margin-top: 20%;
}

.lblOrangeMarker{
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;

}

#lblCantidadOrange{
	font-weight: normal;
	display: block;
	text-align: center;
}

.redMarker{
	width: 15%;
	margin-left: 42%;
	margin-top: 22%;
}

.lblRedMarker{
	display: block;
	margin-top: 10px;
	font-weight: bold;
	font-size: 18px;
	text-align: center;

}

#lblCantidadRed{
	font-weight: normal;
	display: block;
	text-align: center;
}

.contenedor{
	max-width: 1100px;
	/*border: 1px solid black;*/
	margin: auto;
	padding: 50px 0;
}

.pasoIncidencia{
	font-weight: bold;
	font-size: 24px;
	text-align: center;

}

#mapNuevaIncidencia{
	width: 100%;
	height: 550px;
	/*border: 1px solid black;*/
	margin-top: 5%;
}

#ubiacionIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	width: 20%;
	float: left;
}

#ubiacionIncidencia label{
	font-size: 14px;
}
#direccionIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	margin-left: 5%;
	width: 50%;
	float: left;
}

#direccionIncidencia label{
	font-size: 14px;
}

#numeroIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	margin-left: 5%;
	width: 20%;
	float: left;
}

#numeroIncidencia label{
	font-size: 14px;
}

.lblCheckbox{
	margin-top: 24px;
	font-size: 14px;
}

#severidadIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	/*margin-left: 5%;*/
	width: 30%;
	float: left;
}

#severidadIncidencia label{
	font-size: 14px;
}

#categoriaIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	margin-left: 5%;
	width: 45%;
	float: left;
}

#categoriaIncidencia label{
	font-size: 14px;
}

#estadoIncidencia{
	/*border: 1px solid black;*/
	margin-top: 35px;
	margin-left: 5%;
	width: 15%;
	float: left;
}

#estadoIncidencia label{
	font-size: 14px;
}

#lblEstado span{
	font-size: 18px;
}

.lblResumenDescripcion{
	margin-top: 35px;
	font-size: 14px;
}

#descripcion{
	min-height: 175px;
}

#fileImagen{
	display: none;
}

#fileFotosNuevas{
	display: none;
}

.btn-file{
	font-weight: bold;
	width: 15%;
	margin-top: 35px;
}

#lblBuscar{
	margin-left: 33%;
	margin-right: 37px;
}

.galeria{
	margin-top: 35px;
	width: 100%;
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.galeria_item{
	width: 22%;
	margin: 20px 16.5px;
}

.galeria_img{
	width: 100%;
	height: 200px;
	cursor: pointer;
}

.fondoNegro{
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .9);
	display: none;
	overflow-y: auto;
}

#btnCerrar{
	font-size: 58px;
	color: white;
	cursor: pointer;
	position: absolute;
	left: 81%;
	top: 3%;
}

#btnCerrar:hover{
	color: #b83636;
}

#submitIncidencia{
	font-weight: bold;
	width: 30%;
	margin: auto;
	display: block;
}

#dangerNuevaIncidencia{
	display: none;
}

.galeria_img{
	border-radius: 10.5px;
}

#imgModal{
	border-radius: 15px;
}

.divBusqueda{
	width: 100%;
	padding: 1% 2%;
	box-sizing: border-box;
	border-radius: 15px;
	background: #F2F2F2;
}

#comboEstado{
	width: 15%;
	display: inline-block;
}

#comboEstadoTodasIncidencias{
	width: 15%;
	display: inline-block;
}

#comboOrden{
	width: 23.5%;
	display: inline-block;
}

.busquedaIncidencia{
	width: 55%;
	float: right;
}

.contenedorIncidencia{
	width: 100%; 
	height: 200px; 
	border-radius: 15px; 
	/*border: 1px solid #D8D8D8;*/
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3),0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	margin-top: 50px;
}

.datosIncidencia{
	width: 72%;
	float: right;
	height: 200px;
	padding: 1% 1.5%;
	/*border: 1px solid black;*/
}

.incidenciaPendiente{
	font-weight: bold;
	color: #E71D1D;
}


.incidenciaEn{
	font-weight: bold;
	color: #E7B81D;
}

.incidenciaFinalizada{
	font-weight: bold;
	color: #269C1B;
}

.incidenciaCerrada{
	font-weight: bold;
	color: #797B79;
}

.imagenVerIncidencia{
	width: 28%;
	height: 234px;
	border-radius: 15px;
	float: left;
	margin-right: 32px;
	margin-top: 20px;
}

.col1{
	width: 33%;
}

.col2{
	width: 33%;
}

.col3{
	width: 33%;
}

#tblVerTodasLasIncidencias th{
	padding: 15px 10px;
}

#tblVerTodasLasIncidencias td{
	padding: 15px 10px;
}

.iconoVerTodasLasIncidencias{
	font-size: 18px;
	position: relative;
	top: -2px;
	color: grey;
}

.iconoVerGrupoIncidencias:hover{
	color: #3F87FB;
}

.iconoConfirmarIncidencia:hover{
	color: #269C1B;
	cursor: pointer;
}

.contenedorComentario{
	width: 80px;
	display: inline-block;
	position: relative;
	top: 0;
	margin-right: 35px;
	float: left;
}
.datosComentario{
	width: calc(100% - 125px);
	margin-top: 0;
	display: inline-block;
	text-align: justify;
	margin-bottom: 71px;
}

.divComentariosVerIncidencia{
	border-bottom: 2px solid #D8D8D8;
}

.divComentariosVerIncidencia:last-child{
	border-bottom: none;
}